/* src/App.css */

.App h1 {
  text-align: center;
}

input {
    width: 20px;
}

.wrapper {
    text-align: center;
}

.centerimage {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
